<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <ECAT>
        <Devices>
            <Device type="MT_Device">
                <VendorID>0x00202008</VendorID> 
                <ProductCode>0x00000000</ProductCode>

                <RxPDOs index="0x1600">
                    <Object>Controlword</Object>
                    <Object>TargetPosition</Object>
                    <Object>TargetVelocity</Object>
                    <Object>TargetTorque</Object>
                    <Object>MaxTorque</Object>     
                    <Object>Mode</Object>
                    <Object>RxPDOPadding</Object>
                </RxPDOs>

                <TxPDOs index="0x1a00">
                    <Object>StatusWord</Object>
                    <Object>ActualPosition</Object>
                    <Object>ActualVelocity</Object>
                    <Object>ActualTorque</Object>
                    <Object>ErrorCode</Object>
                    <Object>ModeDisplay</Object>
                    <Object>TxPDOPadding</Object>
                </TxPDOs>

                <Dictionary>
                    <!-- Alias left read-only to avoid SDO write failures on devices that do not accept alias download -->
                    <Object index="0x0000" subindex="0x00" signed="0" bit_length="0"  operation="1">Alias</Object>

                    <Object index="0x607a" subindex="0x00" signed="1" bit_length="32" operation="0">TargetPosition</Object>
                    <Object index="0x60ff" subindex="0x00" signed="1" bit_length="32" operation="0">TargetVelocity</Object>
                    <Object index="0x6071" subindex="0x00" signed="1" bit_length="16" operation="0">TargetTorque</Object>
                    <Object index="0x6040" subindex="0x00" signed="0" bit_length="16" operation="0">Controlword</Object>
                    <Object index="0x6072" subindex="0x00" signed="0" bit_length="16" operation="0">MaxTorque</Object>
                    <Object index="0x6060" subindex="0x00" signed="1" bit_length="8"  operation="0">Mode</Object>
                    <Object index="0x5ffe" subindex="0x00" signed="0" bit_length="8"  operation="0">RxPDOPadding</Object>

                    <Object index="0x6064" subindex="0x00" signed="1" bit_length="32" operation="1">ActualPosition</Object>
                    <Object index="0x606c" subindex="0x00" signed="1" bit_length="32" operation="1">ActualVelocity</Object>
                    <Object index="0x6077" subindex="0x00" signed="1" bit_length="16" operation="1">ActualTorque</Object>
                    <Object index="0x6041" subindex="0x00" signed="0" bit_length="16" operation="1">StatusWord</Object>
                    <Object index="0x603f" subindex="0x00" signed="0" bit_length="16" operation="1">ErrorCode</Object>
                    <Object index="0x6061" subindex="0x00" signed="1" bit_length="8"  operation="1">ModeDisplay</Object>
                    <Object index="0x5ffe" subindex="0x00" signed="0" bit_length="8"  operation="1">TxPDOPadding</Object>
                </Dictionary>
            </Device>
        </Devices>

        <Categories>
            <Category name="driver">
                <Type>MT_Device</Type>
            </Category>
        </Categories>

        <Masters>
            <Master order="0" dc="true" period="2000000"/>
        </Masters>

        <Domains>
            <Domain master="0" order="0" division="1"/>
            <Domain master="0" order="1" division="1"/>
            <Domain master="0" order="2" division="1"/>
            <Domain master="0" order="3" division="1"/>
            <Domain master="0" order="4" division="1"/>
            <Domain master="0" order="5" division="1"/>
            <Domain master="0" order="6" division="1"/>
            <Domain master="0" order="7" division="1"/>
            <Domain master="0" order="8" division="1"/>
            <Domain master="0" order="9" division="1"/>
            <Domain master="0" order="10" division="1"/>
            <Domain master="0" order="11" division="1"/>
            <Domain master="0" order="12" division="1"/>
            <Domain master="0" order="13" division="1"/>
            <Domain master="0" order="14" division="1"/>
            <Domain master="0" order="15" division="1"/>
            <Domain master="0" order="16" division="1"/>
            <Domain master="0" order="17" division="1"/>
            <Domain master="0" order="18" division="1"/>
            <Domain master="0" order="19" division="1"/>
            <Domain master="0" order="20" division="1"/>
            <Domain master="0" order="21" division="1"/>
            <Domain master="0" order="22" division="1"/>
            <Domain master="0" order="23" division="1"/>
            <Domain master="0" order="24" division="1"/>
            <Domain master="0" order="25" division="1"/>
            <Domain master="0" order="26" division="1"/>
            <Domain master="0" order="27" division="1"/>
            <Domain master="0" order="28" division="1"/>
            <Domain master="0" order="29" division="1"/>
            <Domain master="0" order="30" division="1"/>

        </Domains>

        <Slaves>
            <Slave master="0" domain="0" alias="1" type="MT_Device">1</Slave>
            <Slave master="0" domain="1" alias="2" type="MT_Device">1</Slave>
            <Slave master="0" domain="2" alias="3" type="MT_Device">1</Slave>
            <Slave master="0" domain="3" alias="4" type="MT_Device">1</Slave>
            <Slave master="0" domain="4" alias="5" type="MT_Device">1</Slave>
            <Slave master="0" domain="5" alias="6" type="MT_Device">1</Slave>
            <Slave master="0" domain="6" alias="7" type="MT_Device">1</Slave>
            <Slave master="0" domain="7" alias="8" type="MT_Device">1</Slave>
            <Slave master="0" domain="8" alias="9" type="MT_Device">1</Slave>
            <Slave master="0" domain="9" alias="10" type="MT_Device">1</Slave>
            <Slave master="0" domain="10" alias="11" type="MT_Device">1</Slave>
            <Slave master="0" domain="11" alias="12" type="MT_Device">1</Slave>
            <Slave master="0" domain="12" alias="13" type="MT_Device">1</Slave>
            <Slave master="0" domain="13" alias="14" type="MT_Device">1</Slave>
            <Slave master="0" domain="14" alias="15" type="MT_Device">1</Slave>
            <!-- <Slave master="0" domain="15" alias="16" type="MT_Device">1</Slave>
            <Slave master="0" domain="16" alias="17" type="MT_Device">1</Slave>
            <Slave master="0" domain="17" alias="18" type="MT_Device">1</Slave>
            <Slave master="0" domain="18" alias="19" type="MT_Device">1</Slave>
            <Slave master="0" domain="19" alias="20" type="MT_Device">1</Slave>
            <Slave master="0" domain="20" alias="21" type="MT_Device">1</Slave>
            <Slave master="0" domain="21" alias="22" type="MT_Device">1</Slave>
            <Slave master="0" domain="22" alias="23" type="MT_Device">1</Slave>
            <Slave master="0" domain="23" alias="24" type="MT_Device">1</Slave>
            <Slave master="0" domain="24" alias="25" type="MT_Device">1</Slave>
            <Slave master="0" domain="25" alias="26" type="MT_Device">1</Slave>
            <Slave master="0" domain="26" alias="27" type="MT_Device">1</Slave>
            <Slave master="0" domain="27" alias="28" type="MT_Device">1</Slave>
            <Slave master="0" domain="28" alias="29" type="MT_Device">1</Slave>
            <Slave master="0" domain="29" alias="30" type="MT_Device">1</Slave>
            <Slave master="0" domain="30" alias="31" type="MT_Device">1</Slave> -->
        </Slaves>
    </ECAT>

    <Motors>
        <!-- left leg -->
        <!-- x12 motor -->
        <Motor limb="0" motor="0" alias="1">
            <Polarity>-1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>20</GearRatioTor>
            <GearRatioPosVel>20</GearRatioPosVel>
            <RatedCurrent>42.42</RatedCurrent>
            <TorqueConstant>2.81</TorqueConstant>
            <RatedTorque>85</RatedTorque>
            <MaximumTorque>320</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
         <!-- x12 motor -->
        <Motor limb="0" motor="1" alias="2"> 
            <Polarity>-1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>20</GearRatioTor>
            <GearRatioPosVel>20</GearRatioPosVel>
            <RatedCurrent>42.42</RatedCurrent>
            <TorqueConstant>2.81</TorqueConstant>
            <RatedTorque>85</RatedTorque>
            <MaximumTorque>320</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <!-- x15 motor -->
        <Motor limb="0" motor="2" alias="3">
            <Polarity>-1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>36</GearRatioTor>
            <GearRatioPosVel>36</GearRatioPosVel>
            <RatedCurrent>35.35</RatedCurrent>
            <TorqueConstant>4.579</TorqueConstant>
            <RatedTorque>145</RatedTorque>
            <MaximumTorque>450</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <!-- x12 motor -->
        <Motor limb="0" motor="3" alias="4"> 
            <Polarity>-1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>20</GearRatioTor>
            <GearRatioPosVel>20</GearRatioPosVel>
            <RatedCurrent>42.42</RatedCurrent>
            <TorqueConstant>2.81</TorqueConstant>
            <RatedTorque>85</RatedTorque>
            <MaximumTorque>320</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <!-- x6 motor -->
        <Motor limb="0" motor="4" alias="5">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>13.4</RatedCurrent>
            <TorqueConstant>1.5</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <!-- x6 motor -->
        <Motor limb="0" motor="5" alias="6">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>13.4</RatedCurrent>
            <TorqueConstant>1.5</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>



        <!-- right leg -->
        <!-- x12 motor -->
        <Motor limb="1" motor="0" alias="7">
            <Polarity>-1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>20</GearRatioTor>
            <GearRatioPosVel>20</GearRatioPosVel>
            <RatedCurrent>42.42</RatedCurrent>
            <TorqueConstant>2.81</TorqueConstant>
            <RatedTorque>85</RatedTorque>
            <MaximumTorque>320</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <!-- x12 motor -->
        <Motor limb="1" motor="1" alias="8"> 
            <Polarity>-1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>20</GearRatioTor>
            <GearRatioPosVel>20</GearRatioPosVel>
            <RatedCurrent>42.42</RatedCurrent>
            <TorqueConstant>2.81</TorqueConstant>
            <RatedTorque>85</RatedTorque>
            <MaximumTorque>320</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <!-- x15 motor -->
        <Motor limb="1" motor="2" alias="9">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>36</GearRatioTor>
            <GearRatioPosVel>36</GearRatioPosVel>
            <RatedCurrent>35.35</RatedCurrent>
            <TorqueConstant>4.579</TorqueConstant>
            <RatedTorque>145</RatedTorque>
            <MaximumTorque>450</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <!-- x12 motor -->
        <Motor limb="1" motor="3" alias="10"> 
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>20</GearRatioTor>
            <GearRatioPosVel>20</GearRatioPosVel>
            <RatedCurrent>42.42</RatedCurrent>
            <TorqueConstant>2.81</TorqueConstant>
            <RatedTorque>85</RatedTorque>
            <MaximumTorque>320</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <!-- x6 motor -->
        <Motor limb="1" motor="4" alias="11">
            <Polarity>-1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>13.4</RatedCurrent>
            <TorqueConstant>1.5</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <!-- x6 motor -->
        <Motor limb="1" motor="5" alias="12">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>13.4</RatedCurrent>
            <TorqueConstant>1.5</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>

        <!-- waist motors -->
         <Motor limb="4" motor="0" alias="13">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>20</GearRatioTor>
            <GearRatioPosVel>20</GearRatioPosVel>
            <RatedCurrent>42.42</RatedCurrent>
            <TorqueConstant>2.81</TorqueConstant>
            <RatedTorque>85</RatedTorque>
            <MaximumTorque>320</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="4" motor="2" alias="14">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>24.88</RatedCurrent>
            <TorqueConstant>2</TorqueConstant>
            <RatedTorque>43</RatedTorque>
            <MaximumTorque>120</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="4" motor="1" alias="15">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>20</GearRatioTor>
            <GearRatioPosVel>20</GearRatioPosVel>
            <RatedCurrent>42.42</RatedCurrent>
            <TorqueConstant>2.81</TorqueConstant>
            <RatedTorque>85</RatedTorque>
            <MaximumTorque>320</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>


        <!-- left arm -->
        <Motor limb="2" motor="0" alias="16">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>9.5</RatedCurrent>
            <TorqueConstant>2.1</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="2" motor="1" alias="17">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>9.5</RatedCurrent>
            <TorqueConstant>2.1</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="2" motor="2" alias="18">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>9.5</RatedCurrent>
            <TorqueConstant>2.1</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="2" motor="3" alias="19">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>9.5</RatedCurrent>
            <TorqueConstant>2.1</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="2" motor="4" alias="20">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>36</GearRatioTor>
            <GearRatioPosVel>36</GearRatioPosVel>
            <RatedCurrent>6.1</RatedCurrent>
            <TorqueConstant>1.9</TorqueConstant>
            <RatedTorque>10.5</RatedTorque>
            <MaximumTorque>34</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="2" motor="5" alias="21">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>36</GearRatioTor>
            <GearRatioPosVel>36</GearRatioPosVel>
            <RatedCurrent>6.1</RatedCurrent>
            <TorqueConstant>1.9</TorqueConstant>
            <RatedTorque>10.5</RatedTorque>
            <MaximumTorque>34</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="2" motor="6" alias="22">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>36</GearRatioTor>
            <GearRatioPosVel>36</GearRatioPosVel>
            <RatedCurrent>6.1</RatedCurrent>
            <TorqueConstant>1.9</TorqueConstant>
            <RatedTorque>10.5</RatedTorque>
            <MaximumTorque>34</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="2" motor="7" alias="23">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>36</GearRatioTor>
            <GearRatioPosVel>36</GearRatioPosVel>
            <RatedCurrent>6.1</RatedCurrent>
            <TorqueConstant>1.9</TorqueConstant>
            <RatedTorque>10.5</RatedTorque>
            <MaximumTorque>34</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <!-- right arm -->
        <Motor limb="3" motor="0" alias="24">
            <Polarity>-1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>9.5</RatedCurrent>
            <TorqueConstant>2.1</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="3" motor="1" alias="25">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>9.5</RatedCurrent>
            <TorqueConstant>2.1</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="3" motor="2" alias="26">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>9.5</RatedCurrent>
            <TorqueConstant>2.1</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="3" motor="3" alias="27">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>19.612</GearRatioTor>
            <GearRatioPosVel>19.612</GearRatioPosVel>
            <RatedCurrent>9.5</RatedCurrent>
            <TorqueConstant>2.1</TorqueConstant>
            <RatedTorque>20</RatedTorque>
            <MaximumTorque>60</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="3" motor="4" alias="28">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>36</GearRatioTor>
            <GearRatioPosVel>36</GearRatioPosVel>
            <RatedCurrent>6.1</RatedCurrent>
            <TorqueConstant>1.9</TorqueConstant>
            <RatedTorque>10.5</RatedTorque>
            <MaximumTorque>34</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="3" motor="5" alias="29">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>36</GearRatioTor>
            <GearRatioPosVel>36</GearRatioPosVel>
            <RatedCurrent>6.1</RatedCurrent>
            <TorqueConstant>1.9</TorqueConstant>
            <RatedTorque>10.5</RatedTorque>
            <MaximumTorque>34</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="3" motor="6" alias="30">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>36</GearRatioTor>
            <GearRatioPosVel>36</GearRatioPosVel>
            <RatedCurrent>6.1</RatedCurrent>
            <TorqueConstant>1.2</TorqueConstant>
            <RatedTorque>10.5</RatedTorque>
            <MaximumTorque>34</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>
        <Motor limb="3" motor="7" alias="31">
            <Polarity>1</Polarity>
            <CountBias>0</CountBias>
            <EncoderResolution>131072</EncoderResolution>
            <GearRatioTor>36</GearRatioTor>
            <GearRatioPosVel>36</GearRatioPosVel>
            <RatedCurrent>6.1</RatedCurrent>
            <TorqueConstant>1.2</TorqueConstant>
            <RatedTorque>10.5</RatedTorque>
            <MaximumTorque>34</MaximumTorque>
            <MinimumPosition>-6.283185</MinimumPosition>
            <MaximumPosition>6.283185</MaximumPosition>
        </Motor>

    </Motors>
    <IMU device="/dev/ttyACM0" baudrate="921600" type="YeSense"/>

    <!-- Empty bus stubs to satisfy parser expectations -->
    <RS485>
        <Slaves/>
    </RS485>
    <RS485Emu>
        <Slaves/>
    </RS485Emu>
    <CAN>
        <Slaves/>
        <Masters period="1000000"/>
    </CAN>
</Config>
